body {
    cursor: url('brush.png'), auto;
}

.cursor-trail {
    position: relative;
    top: 0;
    left: 0;
    pointer-events: none; /* Prevent the cursor trail from blocking mouse events */
    z-index: 5; 
}

/* Individual cursor dot styles */
.cursor-dot {
    position: absolute;
    width: 10px;
    height: 10px;
    animation: changeShape 1s linear infinite alternate; /* Define animation */
    background-color: #1e005a; /* Set initial dot color */
}

@keyframes changeShape {
    0% {
        border-radius: 50%; /* Initial shape (circle) */
        background-color: #1e005a; /* Color 1 (red) */
    }
    25% {
        border-radius: 50%; /* Shape remains circle */
        background-color: #2b0080; /* Color 2 (yellow) */
    }
    50% {
        border-radius: 50%; /* Shape remains circle */
        background-color: #800060; /* Color 3 (green) */
    }
    75% {
        border-radius: 0%; /* Shape becomes square */
        background-color: #3c005a; /* Color 4 (blue) */
    }
    100% {
        border-radius: 50%; /* Final shape (circle) */
        background-color: #800080; /* Final color (magenta) */
    }
}
